[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300 'swaylock -f -k -i /home/kokamoto/Pictures/"Desktop Backgrounds"/VMzJUS0.jpg -s fill' \
            timeout 600 'swaymsg "output * dpms off"' \
                resume 'swaymsg "output * dpms on"' \
            before-sleep 'swaylock -f -k -i /home/kokamoto/Pictures/"Desktop Backgrounds"/VMzJUS0.jpg -s fill'

[Install]
WantedBy=sway-session.target
