!
!URxvt ------------------------------
!URxvt*font: Terminus:style = Regular: size=10
!URxvt*font: xft:Terminus:pixelsize=14, \xft:Sazanami:antialias=true, \xft:Baekmuk Gulim
!URxvt*font: xft:Terminus:bold:size=11
!URxvt.font:                xft:PragmataPro:pixelsize=16
!URxvt.boldFont:            xft:PragmataPro:pixelsize=16:bold
!URxvt.italicFont:          xft:PragmataPro:pixelsize=16:italic
!URxvt.boldItalicFont:      xft:PragmataPro:pixelsize=16:bold:italic
!URxvt.letterSpace:         -1
Xcursor.theme: DMZ-White
URxvt.font: 		xft:Monospace:size=11
URxvt.boldFont: 	xft:Monospace:size=11:bold
URxvt.italicFont:	xft:Monospace:size=11:italic
URxvt.bolditalicFont:	xft:Monospace:size=11:bold:italic
URxvt.letterSace:	-1

Urxvt.*VT100.colorBDMode: true
URxvt.*VT100.colorBD: red
URxvt.*VT100.colorULMode: true
URxvt.*VT100.colorUL: cyan
URxvt.*VT100.veryBoldColors: 6

URxvt.*background: rgb:00/00/00
URxvt.*foreground: rgb:00/ff/00
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading:20
!URxvt.url-launcher:        /usr/bin/chromium
!URxvt.keysym.M-Delete:     perl:matcher:list
!URxvt.colorUL:             #7780a1
